{% extends "fishpass/base.html" %}
{% load static %}

{% block site_style %}
    {{ block.super }}
    <!-- <link rel="stylesheet" href="{% static 'fishpass/lib/pageguide/css/pageguide.min.css' %}"/> -->
    <!-- <link rel="stylesheet" href="{% static 'fishpass/css/fishpass_pageguide.css' %}"/> -->

    <!-- <link rel="stylesheet" href="{% static 'fishpass/css/ol.css' %}" media="screen,projection"/> -->
    <link rel="stylesheet" href="{% static 'fishpass/lib/ol.css' %}" media="screen,projection"/>
    <link rel="stylesheet" href="{% static 'fishpass/lib/ol-layerswitcher/src/ol-layerswitcher.css' %}"/>
    <!-- <link rel="stylesheet" href="{% static 'fishpass/css/billboard.min.css' %}" /> -->

    <link rel="stylesheet" href="{% static 'fishpass/lib/jquery-ui-1.12.1.custom/jquery-ui.theme.min.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'fishpass/lib/fontawesome-free-5.8.1-web/css/fontawesome.min.css' %}"> -->
    <link rel="stylesheet" href="{% static 'fishpass/lib/fontawesome-3.0.1/font-awesome.min.css' %}">

    <link rel="stylesheet" href="{% static 'fishpass/lib/ol-ext/dist/ol-ext.min.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'visualize/css/ol4_settings.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'visualize/css/map_popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'scenarios/css/scenarios_form.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'fishpass/css/app.css' %}"/>
    <link rel="stylesheet" href="{% static 'fishpass/css/_40-app.css' %}"/>
    <link rel="stylesheet" href="{% static 'fishpass/css/_64-app.css' %}"/>
    <link rel="stylesheet" href="{% static 'fishpass/css/_90-app.css' %}"/>

    <link rel="stylesheet" href="{% static 'fishpass/css/layer_switcher.css' %}"/>

    <link rel="stylesheet" href="{% static 'fishpass/css/scenario_form.css' %}"/>
    <link rel="stylesheet" href="{% static 'fishpass/css/selection.css' %}"/>
    <link rel="stylesheet" href="{% static 'fishpass/css/app_legend.css' %}"/>
{% endblock site_style %}

{% block js_head %}
    <!-- <script src="{% static 'fishpass/lib/jquery-3.2.1.min.js' %}"></script> -->
    <script src="{% static 'fishpass/lib/underscore-min.js' %}"></script>
{% endblock js_head %}

{% block content %}
    <section class="map-wrap">
        <div id="map" class="map"></div>
        <div id="popup" class="ol-popup">
          <a href="#" id="popup-closer" class="ol-popup-closer" title="close popup"></a>
          <div id="popup-content"></div>
        </div>
        <div id="panel" class="panel">
            <div id="panel-content" class="panel-content panel_inner">
              <div id="scenarios"></div>
              <div id="scenario_form"></div>
              <div id="results"></div>
            </div>
        </div>

        {% include 'fishpass/legends/app_legend.html' %}
    </section>

    {% include 'fishpass/modals.html' %}

{% endblock %}

{% block footer %}{% endblock %}

{% block extra_js %}
    <script>
      page_context = {
        BIOS_LINK: "{{ BIOS_LINK }}"
      };
    </script>
    {{ block.super }}
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>

    <script src="{% static 'fishpass/lib/knockout-min.js' %}"></script>
    <script src="{% static 'fishpass/lib/knockout.mapping.js' %}"></script>
    <script src="{% static 'js/knockout-bindings.js' %}"></script>

    <!-- <script src="{% static 'fishpass/lib/billboard.min.js' %}"></script> -->

    <!-- <script src="{% static 'fishpass/lib/pageguide/js/pageguide.min.js' %}"></script> -->

    <script src="{% static 'fishpass/lib/ol.js' %}"></script>
    <!-- <script src="{% static 'fishpass/lib/ol.js' %}"></script> -->
    <!-- <script src="{% static 'fishpass/lib/ol-debug.js' %}"></script> -->

    <script src="{% static 'fishpass/lib/ol-layerswitcher/dist/ol-layerswitcher.js' %}"></script>
    <script src="{% static 'fishpass/js/app.js' %}"></script>

    <script src="{% static 'visualize/js/' %}{{ MAP_TECH }}_settings.js"></script>
    <script src="{% static 'scenarios/js/' %}{{ MAP_TECH }}_settings.js"></script>

    <script src="{% static 'fishpass/js/state.js' %}"></script>
    <script src="{% static 'fishpass/js/modals.js' %}"></script>

    <script>
      app.mapbox = {
          key: '{{ MAPBOX_TOKEN }}'
      };
      app.here = {
        key: '{{ HERE_TOKEN }}',
        appCode: '{{ HERE_APP_CODE }}',
      }
    </script>
    <script src="{% static 'fishpass/js/map/init.js' %}"></script>
    <script src="{% static 'fishpass/js/map/styles.js' %}"></script>
    <script src="{% static 'fishpass/js/map/layers.js' %}"></script>
    <script src="{% static 'fishpass/js/map/widgets.js' %}"></script>
    <script src="{% static 'fishpass/js/map.js' %}"></script>
    <script src="{% static 'fishpass/js/map/legends.js' %}"></script>
    <script src="{% static 'fishpass/js/selection.js' %}"></script>
    <!-- <script src="{% static 'fishpass/js/app.events.js' %}"></script> -->
    <!-- <script src="{% static 'fishpass/js/visualization.js' %}"></script> -->
    <script src="{% static 'fishpass/lib/geosearch.js' %}"></script>

    <script src="{% static 'scenarios/js/models.js' %}"></script>
    <script src="{% static 'fishpass/js/scenarios.js' %}"></script>

    <script src="{% static 'fishpass/lib/ol-ext/dist/ol-ext.min.js' %}"></script>

    <script src="{% static 'fishpass/lib/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
    <script src="{% static 'fishpass/js/init.js' %}"></script>
    <script src="{% static 'fishpass/js/project.js' %}"></script>
{% endblock extra_js %}
