{% extends "base.html" %}
{% load static %}

{% block extra_head %}
  {{ block.super }}
  <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.2.0/build/ol.js"></script>
{% endblock extra_head %}

{% block site_style %}
  {{ block.super }}
  <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.2.0/css/ol.css">
  <link rel="stylesheet" href="{% static 'visualize/css/ol4_settings.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'visualize/css/map_popup.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'scenarios/css/scenarios_form.css' %}" type="text/css">
{% endblock site_style %}

{% block content %}
  <section class="map-wrap">
    <div id="map" class="map"></div>
    <div id="popup" class="ol-popup">
      <a href="#" id="popup-closer" class="ol-popup-closer" title="close popup"></a>
      <div id="popup-content"></div>
    </div>
    <div id="panel" class="panel">
        <div class="loading-animation">
            <div class="animation"></div>
        </div>
        <div id="panel-content" class="panel-content panel_inner">
          <div id="scenarios"></div>
          <div id="scenario_form"></div>
        </div>
    </div>
  </section>
{% endblock content %}

{% block extra_js %}
    {{ block.super }}
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/2.1.0/knockout-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout.mapping/2.3.2/knockout.mapping.js"></script>
    <script src="{% static 'js/knockout-bindings.js' %}"></script>
    <script>
      if (typeof app === 'undefined') {
        app = {};
      }
    </script>

    <script src="{% static 'visualize/js/' %}{{ MAP_TECH }}_settings.js"></script>
    <script src="{% static 'scenarios/js/' %}{{ MAP_TECH }}_settings.js"></script>

    <script>
      app.mapbox = {
          key: '{{ MAPBOX_TOKEN }}'
      };
      app.here = {
        key: '{{ HERE_TOKEN }}',
        appCode: '{{ HERE_APP_CODE }}',
      }
    </script>

    <script src="{% static 'scenarios/js/models.js' %}"></script>
    <script src="{% static 'fishpass/js/scenarios.js' %}"></script>

    <script>
      {% if GET_SCENARIOS_URL %}
        get_scenarios_url = '{{GET_SCENARIOS_URL}}';
      {% else %}
        get_scenarios_url = '/scenario/get_scenarios';
      {% endif %}
      $.ajax({
        url: get_scenarios_url,
        type: 'GET',
        dataType: 'json'
      })
      .done(function(scenarios) {
        html = '<ul>'
        for (var i = 0; i < scenarios.length; i++) {
          scenario = scenarios[i];
          if(scenario.name == '') {
            scenario_name = 'Scenario ' + scenario.id;
          } else {
            scenario_name = scenario.name;
          }
          {% if SCENARIO_LINK_BASE %}
            scenario_link = '{{SCENARIO_LINK_BASE}}' + "_" + scenario.id;
          {% else %}
            scenario_link = "/features/scenario/scenarios_scenario_" + scenario.id;
          {% endif %}

          html = html + '<li><a href="' + scenario_link + '/" target="_blank">' + scenario_name + '</a></li>';
        }
        html = html + '</ul>';
        $('#scenarios').html(html)
        {% if SCENARIO_FORM_URL %}
          scenario_form_url = '{{SCENARIO_FORM_URL}}';
        {% else %}
          scenario_form_url = '/features/scenario/form/';
        {% endif %}
        app.viewModel.scenarios.createNewScenario(scenario_form_url);
      })
      .fail(function() {
        alert("error");
      });
    </script>
{% endblock extra_js %}
