<!-- "base.html" lives in visualize/templates/ -->
{% extends "base.html" %}
{% load static %}

{% block header %}
<nav class="navbar navbar-default {% block navbar-extra-classes %}navbar-fixed-top{% endblock %}" role="navigation">
    <div class="container">
        {% include 'fishpass/navbar.html' %}
    </div>
</nav>
{% endblock %}

{% block outer_content %}
  <!-- {/% block main %} -->
    <!-- <main> -->
      {% block content %}{% endblock content %}
    <!-- </main> -->
  <!-- {/% endblock main %} -->
{% endblock outer_content %}

{% block footer %}
  {{ block.super }}
  <!-- <div class="container">
      {/% include 'footer.html' %}
  </div> -->
{% endblock %}

{% block extra_js %}{% endblock %}

{% block bootstrap_js %}
<!-- <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script> -->
{% endblock %}

{% block top-level %}{% endblock %}
