<!-- "base.html" lives in visualize/templates/ -->
{% extends "base.html" %}
{% load static %}

{% block extra_head %}
  <meta name="description" content="">
  <meta name="robots" content="index,follow"><!-- All Search Engines -->
  <meta name="googlebot" content="index,follow"><!-- Google Specific -->
  <meta name="referrer" content="same-origin">

  <!-- <link rel="icon" type="image/png" sizes="16x16" href="{% static 'fishpass/img/favicon16x16.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'fishpass/img/favicon32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'fishpass/img/favicon.png' %}"> -->

  <!-- polyfill based on user agent -->
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
  <script src="{% static 'fishpass/lib/jquery-3.2.1.min.js' %}"></script>

  <script src='https://www.google.com/recaptcha/api.js'></script>

{% endblock %}

{% block site_style %}
  <link href="https://fonts.googleapis.com/css?family=Bitter:400,700|Lato" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'fishpass/lib/bootstrap-4.1.3/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'fishpass/css/base.css' %}" />
  <link rel="stylesheet" href="{% static 'fishpass/css/nav.css' %}" />
  <link rel="stylesheet" href="{% static 'fishpass/css/flatpages.css' %}" />
  <link rel="stylesheet" href="{% static 'fishpass/css/modals.css' %}" />
{% endblock site_style %}

{% block extra_css %}{% endblock extra_css %}

{% block jquery %}
  <script src="{% static 'fishpass/lib/jquery-3.2.1.min.js' %}"></script>
{% endblock jquery %}

{% block js_head %}{% endblock js_head %}

{% block header %}
  {% csrf_token %}
  <div class="nav-wrap top-nav-wrap">
    {% include 'fishpass/navbar.html' %}
  </div>
{% endblock %}

{% block outer_content %}
  <!-- {/% block main %} -->
    <!-- <main> -->
      {% block content %}{% endblock content %}
    <!-- </main> -->
  <!-- {/% endblock main %} -->
  {% block login_modal %}
      <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal" aria-hidden="true">
          {% include 'fishpass/login_modal.html' %}
      </div>
  {% endblock login_modal %}
{% endblock outer_content %}

{% block footer %}
  <!-- {/%{ block.super }%} -->
  <!-- <div class="container">
      {/% include 'footer.html' %}
  </div> -->
{% endblock %}

{% block extra_js %}
  <script src="{% static 'fishpass/lib/es6-promise/es6-promise.js' %}"></script>
  <script src="{% static 'fishpass/lib/es6-promise/es6-promise.auto.js' %}"></script>
  <script src="{% static 'fishpass/js/main.js' %}"></script>
{% endblock %}

{% block bootstrap_js %}
  <!-- <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script> -->
  <!-- <script src="{% static '/fishpass/lib/popper.min.js' %}"></script> -->
  <script src="{% static '/fishpass/lib/popper-1.14.3.min.js' %}"></script>

  <script src="{% static '/fishpass/lib/bootstrap-4.1.3/bootstrap.min.js' %}"></script>
{% endblock %}

{% block top-level %}{% endblock %}
