{% load static %}

{% block footer-brand %}
    <div class="container-fluid">
        <div class="row justify-content-between align-items-center">
            <div class="col-3 align-self-center">
                <hr />
                <p><a href="mailto:">email</a></p>
                <p><a href="tel:+15555555555">555.555.5555</a></p>
            </div>
            <div class="col-4"></div>
            <div class="col align-self-end text-right">
                <img src="" />
            </div>
            <div class="col align-self-end text-right">
                <img src="" />
            </div>
        </div>
    </div>
{% endblock %}
