<!-- "base.html" lives in visualize/templates/ -->
<!-- "fishpass/base.html" overrides the files in visualize -->
{% extends "fishpass/base.html" %}
{% load static %}
{% load flatblocks %}

{% block site_style %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'fishpass/css/home.css' %}" />
{% endblock site_style %}

{% block content %}
  <section id="home-wrap">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>
              {% flatblock "homepage-welcome" evaluated=True %}
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-8">
          <h2>
              {% flatblock "homepage-header" evaluated=True %}
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col offset-md-2 col-md-8">
          <p class="bl">
            {% flatblock "homepage-paragraph" evaluated=True %}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          {% if user.is_authenticated %}
            <a href="/app" class="btn btn-main"><img src="{% static 'fishpass/img/icon/i_arrow_right.svg' %}" /> Launch App</a>
          {% else %}
            <button id="home-login-btn" onclick="$('#login-modal').modal('show')" class="btn btn-main">Login</button>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
