<!-- "base.html" lives in visualize/templates/ -->
<!-- "fishpass/base.html" overrides the files in visualize -->
{% extends "fishpass/base.html" %}
{% load static %}

{% block content %}
  <section>
    <div class="container">
      <div class="row">
        <div class="col-8">
          <h1>Welcome!</h1>
          <p>Fish Pass is a tool designed to help  filter and optimize fish barrier removal in accordance with chosen goals.</p>
        </div>
        <div class="col-4 p-4">
          {% if user.is_authenticated %}
            <a href="/app" class="btn btn-secondary">Launch App</a>
          {% else %}
            <a href="{% url 'account:login' %}" class="btn btn-secondary">Login</a>
          {% endif %}
        </div>
      </div>
  </section>
{% endblock content %}
