
<!--

==== LAUNCH MODAL ====

-->

<div id="launch-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
              <div class="row">
                {% if projects.count > 0 %}
                <div class="col-sm-6 col-md-5">
                {% else %}
                <div class="col-sm-12">
                {% endif %}
                  <h2>Create new</h2>
                  <form id="create-new-project-form" action='/fishpass/new_project/' method="post" name="scenarios-form">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" name="name" maxlength="255" required="True" id="id_name" class="form-control" value="{{ initialProjectName }}">
                    </div>
                    <a href="#" id="createProjectSubmit" type="button" class="btn btn-main" onclick="this.blur(); return false;">
                      Begin
                    </a>
                  </form>
                </div>
                {% if projects.count > 0 %}
                <div class="col-sm-6 col-md-7">
                  <h3>Load saved</h3>
                  <div class='project-list col-12'>
                    {% for project in projects %}
                      <div id="row-{{ project.uid }}" class="row align-items-center">
                        <div class="col-8">
                          <!-- if project is unfinished use span instead of link to report -->
                          <!-- {% if project.active %} -->
                            <!-- <span>{{ project.name }}</span> -->
                          <!-- {% endif %} -->
                          <a class="view-project-link" class="btn" href="/fishpass/get_report/{{ project.uid }}/">{{ project.name }}</a>
                        </div>
                        <!-- <td><a class='view-project-link' href="/fishpass/get_report/{{ project.uid }}/">view</a></td> -->
                        <div class="col-2">
                          <a href="#" class="edit-form-link" uid="{{ project.uid }}"><img src="/static/fishpass/img/icon/i_pencil.svg" alt="edit scenario" /></a>
                        </div>
                        <div class="col-2 text-center">
                          <button id="delete-{{ project.uid }}" data-id="{{ project.uid }}" class="btn btn-trash init-delete"><img  src="/static/fishpass/img/icon/i_trash_white.svg" alt="delete scenario" /></button>
                          <button id="confirm-delete-{{ project.uid }}" data-id="{{ project.uid }}" class="confirm-delete  d-none btn-trash">Confirm Delete</button>
                          <button id="delete-status-{{ project.uid }}" data-id="{{ project.uid }}" class="confirm-delete  d-none btn-trash">Deleting...</button>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
                {% endif %}
              </div>
          </div>
        </div>
    </div>
</div>

<!--

==== LOAD MODAL ====

-->

<div id="loading-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="animation-container">
                    <div class="animation">
                        <div class="cssload-dot"></div>
                        <div class="cssload-dot"></div>
                        <div class="cssload-dot"></div>
                    </div>
               </div>
            </div>
        </div>
    </div>
</div>

<!-- IMPORT PROJECT BARRIER STATUS MODAL -->

{% include "fishpass/modals/project_barrier_status_modal.html" %}

<!-- IMPORT PROJECT BARRIER TYPE MODAL -->

{% include "fishpass/modals/project_barrier_type_modal.html" %}

<!-- IMPORT PROJECT BARRIER MODAL -->

{% include "fishpass/modals/project_barrier_modal.html" %}
