{% load static %}
<!-- <div class="container"> -->
  {% for report_dict in reports %}
    {% if report_dict.report.budget_type == 'batch' %}
      {% if forloop.first %}
        <ul class="nav nav-tabs" id="reportTab" role="tablist">
      {% endif %}

      <li class="nav-item">
        {% if forloop.first %}
        <a class="nav-link active" id="budget-{{ report_dict.report.budget_int }}-tab" data-toggle="tab" href="#budget-{{ report_dict.report.budget_int }}" role="tab" aria-controls="budget-{{ report_dict.report.budget_int }}" aria-selected="true" onclick="getBudgetGeoJSON(this)">{{ report_dict.report.budget }}</a>
        {% else %}
        <a class="nav-link" id="budget-{{ report_dict.report.budget_int }}-tab" data-toggle="tab" href="#budget-{{ report_dict.report.budget_int }}" role="tab" aria-controls="budget-{{ report_dict.report.budget_int }}" aria-selected="false" onclick="getBudgetGeoJSON(this)">{{ report_dict.report.budget }}</a>
        {% endif %}
      </li>

      {% if forloop.last %}
      </ul>
      {% endif %}
    {% endif %}
  {% endfor %}
  <div class="tab-content" id="reportTabContent">

  {% for report_dict in reports %}
    {% if report_dict.report.budget_type == 'batch' %}
      {% if forloop.first %}
      <div class="tab-pane fade show active" id="budget-{{ report_dict.report.budget_int }}" role="tabpanel" aria-labelledby="budget-{{ report_dict.report.budget_int }}-tab">
      {% else %}
      <div class="tab-pane fade" id="budget-{{ report_dict.report.budget_int }}" role="tabpanel" aria-labelledby="budget-{{ report_dict.report.budget_int }}-tab">
      {% endif %}
    {% endif %}
    <div class="row">
      <div class="col">
        <h2>Aggregate Report</h2>
        <section id="agg-report" class="report-section">
          <div class="card-columns p2">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Barriers To Treat</h5>
                <p class="card-text muted" id="barriers-treated-{{ report_dict.report.budget_int }}">{{ report_dict.report.action_count }}</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Total Barriers</h5>
                <p class="card-text muted" id="total-barriers-{{ report_dict.report.budget_int }}">{{ report_dict.report.barrier_count }}</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Total Estimated Cost</h5>
                <p class="card-text muted" id="total-estimated-cost-{{ report_dict.report.budget_int }}">{{ report_dict.report.cost }}</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Budget</h5>
                <p class="card-text muted" id="budget-{{ report_dict.report.budget_int }}">{{ report_dict.report.budget }}</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Potential Habitat</h5>
                <p class="card-text muted" id="potential-habitat-{{ report_dict.report.budget_int }}">{{ report_dict.report.ptnl_habitat }}</p>
              </div>
            </div>
            <div class="card" id="net-gain-card">
              <div class="card-body">
                <h5 class="card-title">Potential Habitat Gain (Weighted)</h5>
                <p class="card-text muted" id="net-gain-{{ report_dict.report.budget_int }}">{{ report_dict.report.netgain }}</p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>Individual Barriers</h2>
        <section id="barrier-report" class="report-section col">
        <div class="row">
          <div class="col-3 report-barrier-options">
            <div class="nav flex-column nav-pills" id="barrier-tab" role="tablist" aria-orientation="vertical">
              <!-- { for barrier_id,barrier_data in report_dict.barriers.items %} -->
              {% for barrier_id in report_dict.action_barriers %}
                <a class="nav-link action-barrier-pill {% if forloop.counter < 2 %}active{% endif %}" id="barrier-{{ barrier_id }}-{{ report_dict.report.budget_int }}-tab" data-toggle="pill" href="#barrier-{{ barrier_id }}-{{ report_dict.report.budget_int }}" role="tab" aria-controls="barrier-{{ barrier_id }}-{{ report_dict.report.budget_int }}" aria-selected="true">
                  {{ barrier_id }}<br />
                  <span class='treatment-subtitle'>To Treat</span>
                </a>
              {% endfor %}
              {% for barrier_id in report_dict.untouched_barriers %}
                <a class="nav-link" id="barrier-{{ barrier_id }}-{{ report_dict.report.budget_int }}-tab" data-toggle="pill" href="#barrier-{{ barrier_id }}-{{ report_dict.report.budget_int }}" role="tab" aria-controls="barrier-{{ barrier_id }}-{{ report_dict.report.budget_int }}" aria-selected="true">{{ barrier_id }}</a>
              {% endfor %}
            </div>
          </div>
          <div class="col-9">
            <div class="tab-content" id="barrier-content">
              <!-- { for barrier_id,barrier_data in report_dict.barriers.items %} -->
              {% for barrier_id in report_dict.barriers %}
                <div class="tab-pane fade {% if forloop.counter < 2 %}show active{% endif %}" id="barrier-{{ barrier_id }}-{{ report_dict.report.budget_int }}" role="tabpanel" aria-labelledby="barrier-{{ barrier_id }}-{{ report_dict.report.budget_int }}">
                  <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center barrier-report-item">
                      <span class="badge badge-value">Status</span> <img src="{% static 'ckeditor/ckeditor/skins/moono/images/spinner.gif' %}" /> Loading...
                    </li>
                  </ul>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
          <!-- <p>{/{ barriers }}</p> -->

        </section>
      </div>
    </div>
    {% if report_dict.report.budget_type == 'batch' %}
    <!-- close tab pane -->
    </div>
    {% endif %}
  {% endfor %} <!-- report -->
  <!-- close reportTabContent -->
</div>
