{% extends "fishpass/base.html" %}
{% load static %}

{% block site_style %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.5/ol.css" media="screen,projection"/>
    <link rel="stylesheet" href="{% static 'fishpass/lib/ol-layerswitcher/src/ol-layerswitcher.css' %}"/>

    <link rel="stylesheet" href="{% static 'fishpass/lib/ol-ext/dist/ol-ext.min.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'visualize/css/ol4_settings.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'fishpass/css/app.css' %}"/>
    <link rel="stylesheet" href="{% static 'fishpass/css/_40-app.css' %}"/>
    <link rel="stylesheet" href="{% static 'fishpass/css/_64-app.css' %}"/>
    <link rel="stylesheet" href="{% static 'fishpass/css/_90-app.css' %}"/>
{% endblock site_style %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'fishpass/css/report.css' %}">
<link rel="stylesheet" href="{% static 'fishpass/css/selection.css' %}"/>
{% endblock extra_css %}

{% block content %}
<div class="container-fluid report-container">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>{{ title }}</h1>
        </div>
      </div>
      <!-- Report Row -->
      <div class="row">
        <div class="col">
          <!-- <div class="container"> -->
            {% for report_dict in reports %}
              {% if report_dict.report.budget_type == 'batch' %}
                {% if forloop.first %}
                  <ul class="nav nav-tabs" id="reportTab" role="tablist">
                {% endif %}

                <li class="nav-item">
                  {% if forloop.first %}
                  <a class="nav-link active" id="budget-{{ report_dict.report.budget_int }}-tab" data-toggle="tab" href="#budget-{{ report_dict.report.budget_int }}" role="tab" aria-controls="budget-{{ report_dict.report.budget_int }}" aria-selected="true">{{ report_dict.report.budget }}</a>
                  {% else %}
                  <a class="nav-link" id="budget-{{ report_dict.report.budget_int }}-tab" data-toggle="tab" href="#budget-{{ report_dict.report.budget_int }}" role="tab" aria-controls="budget-{{ report_dict.report.budget_int }}" aria-selected="false">{{ report_dict.report.budget }}</a>
                  {% endif %}
                </li>

                {% if forloop.last %}
                </ul>
                {% endif %}
              {% endif %}
            {% endfor %}
            <div class="tab-content" id="reportTabContent">

            {% for report_dict in reports %}
              {% if report_dict.report.budget_type == 'batch' %}
                {% if forloop.first %}
                <div class="tab-pane fade show active" id="budget-{{ report_dict.report.budget_int }}" role="tabpanel" aria-labelledby="budget-{{ report_dict.report.budget_int }}-tab">
                {% else %}
                <div class="tab-pane fade" id="budget-{{ report_dict.report.budget_int }}" role="tabpanel" aria-labelledby="budget-{{ report_dict.report.budget_int }}-tab">
                {% endif %}
              {% endif %}
              <div class="row">
                <div class="col">
                  <h2>Aggregate Report</h2>
                  <section id="agg-report" class="report-section">
                    <div class="card-columns p2">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Barriers Treated</h5>
                          <p class="card-text muted" id="barriers-treated-{{ report_dict.report.budget_int }}">{{ report_dict.report.action_count }}</p>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Total Barriers</h5>
                          <p class="card-text muted" id="total-barriers-{{ report_dict.report.budget_int }}">{{ report_dict.report.barrier_count }}</p>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Total Estimated Cost</h5>
                          <p class="card-text muted" id="total-estimated-cost-{{ report_dict.report.budget_int }}">{{ report_dict.report.cost }}</p>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Budget</h5>
                          <p class="card-text muted" id="budget-{{ report_dict.report.budget_int }}">{{ report_dict.report.budget }}</p>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Potential Habitat</h5>
                          <p class="card-text muted" id="potential-habitat-{{ report_dict.report.budget_int }}">{{ report_dict.report.ptnl_habitat }}</p>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Net Gain</h5>
                          <p class="card-text muted" id="net-gain-{{ report_dict.report.budget_int }}">{{ report_dict.report.netgain }}</p>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <h2>Individual Barriers</h2>
                  <section id="barrier-report" class="report-section col">
                  <div class="row">
                    <div class="col-3 report-barrier-options">
                      <div class="nav flex-column nav-pills" id="barrier-tab" role="tablist" aria-orientation="vertical">
                        <!-- { for barrier_id,barrier_data in report_dict.barriers.items %} -->
                        {% for barrier_id in report_dict.barriers %}
                          <a class="nav-link {% if forloop.counter < 2 %}active{% endif %}" id="barrier-{{ barrier_id }}-{{ report_dict.report.budget_int }}-tab" data-toggle="pill" href="#barrier-{{ barrier_id }}-{{ report_dict.report.budget_int }}" role="tab" aria-controls="barrier-{{ barrier_id }}-{{ report_dict.report.budget_int }}" aria-selected="true">{{ barrier_id }}</a>
                        {% endfor %}
                      </div>
                    </div>
                    <div class="col-9">
                      <div class="tab-content" id="barrier-content">
                        <!-- { for barrier_id,barrier_data in report_dict.barriers.items %} -->
                        {% for barrier_id in report_dict.barriers %}
                          <div class="tab-pane fade {% if forloop.counter < 2 %}show active{% endif %}" id="barrier-{{ barrier_id }}-{{ report_dict.report.budget_int }}" role="tabpanel" aria-labelledby="barrier-{{ barrier_id }}-{{ report_dict.report.budget_int }}">
                            <ul class="list-group">
                              <li class="list-group-item d-flex justify-content-between align-items-center barrier-report-item">
                                <span class="badge badge-value">Status</span> Loading...
                              </li>
                              <!-- { for key,value in barrier_data.items %}
                                <li class="list-group-item d-flex justify-content-between align-items-center barrier-report-item">
                                  <span class="badge badge-value">{{ key }}</span> {{ value | safe }}
                                </li>
                              { endfor %}
                              -->
                            </ul>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                    <!-- <p>{/{ barriers }}</p> -->

                  </section>
                </div>
              </div>
              {% if report_dict.report.budget_type == 'batch' %}
              <!-- close tab pane -->
              </div>
              {% endif %}
            {% endfor %} <!-- report -->
            <!-- close reportTabContent -->
          </div>

        </div> <!-- close column -->
        <!-- </div> -->
        <div class="col">
          <section class="report-map-wrap">
            <div id="map" class="map"></div>
          </section>
        </div>
      </div> <!-- close row -->

      <div class="row">
        <div class="col">
          <button>Download</button>
        </div>
      </div>
    </div> <!-- container -->
  </div> <!-- row -->
</div> <!-- container-fluid -->

  {% include 'fishpass/modals.html' %}

{% endblock content %}

{% block footer %}{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/2.1.0/knockout-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout.mapping/2.3.2/knockout.mapping.js"></script>
    <script src="{% static 'js/knockout-bindings.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.5/ol.js"></script>

    <script src="{% static 'fishpass/lib/ol-layerswitcher/dist/ol-layerswitcher.js' %}"></script>
    <script src="{% static 'fishpass/js/app.js' %}"></script>

    <script src="{% static 'visualize/js/' %}{{ MAP_TECH }}_settings.js"></script>
    <script src="{% static 'scenarios/js/' %}{{ MAP_TECH }}_settings.js"></script>

    <script>
      app.mapbox = {
          key: '{{ MAPBOX_TOKEN }}'
      };
      app.here = {
        key: '{{ HERE_TOKEN }}',
        appCode: '{{ HERE_APP_CODE }}',
      }
    </script>
    <script src="{% static 'fishpass/js/map/init_report.js' %}"></script>
    <script src="{% static 'fishpass/js/map/styles.js' %}"></script>
    <script src="{% static 'fishpass/js/map/layers.js' %}"></script>
    <script src="{% static 'fishpass/js/map/widgets.js' %}"></script>
    <script src="{% static 'fishpass/js/map.js' %}"></script>
    <script src="{% static 'fishpass/js/report.js' %}"></script>
    <!-- <script src="{% static 'fishpass/js/selection.js' %}"></script> -->
    <script>
      app.report_init({{ GEOJSON | safe }});
    </script>
{% endblock extra_js %}
