<div class="dropdown-menu" id="menu">
      <div class="list-group">
          {% if 'app' not in request.path %}
              <a href="/app/" class="dropdown-item list-group-item list-group-item-action">Launch App</a>
          {% endif %}
          <!-- <a href="{% url 'help' %}" class="dropdown-item list-group-item list-group-item-action">Help</a> -->
          {% if user.is_authenticated %}
              <a href="/accounts/" class="dropdown-item list-group-item list-group-item-action">Manage Account</a>
              <button id="sign-out" data-action="sign-out" class="dropdown-item list-group-item list-group-item-action">Sign out</button>
          {% else %}
              <!-- if account is in path then form fields are missing -->
              {% if 'account' not in request.path %}
                  <button id="sign-in-modal" data-action="sign-in-modal" class="dropdown-item list-group-item list-group-item-action">Login</button>
              {% else %}
                  <a href="{% url 'account:login' %}" class="btn btn-link account-action">Register</a>
              {% endif %}
          {% endif %}
      </div>
  </div>
