{% block form_block %}
  <div class="featurepanel">
    {% load static from staticfiles %}

    {% block form_media %}
      {% if form.media %} {{ form.media }} {% endif %}
    {% endblock form_media %}

    {% block form_filters %}
      <h4>{{title}}</h4>

      <div class="barrier-default-btn-wrap">
        <div class="btn-group" role="group" aria-label="Barrier Defaults">
          <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#project-barrier-status-modal" id="open-barrier-status-form">Set Barrier Status</button>
          <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#project-barrier-types-modal" id="open-barrier-types-form">Set Barrier Types</button>
        </div>
      </div>

      <div class="show-blocks-btn" style="display: none;">
        <a class="button btn enabled-grid-button" style="padding: 4px 9px; margin-right: 10px;" data-bind="click: showFilteringResults">
          <span>Show Filter Results</span>
          <span class="badge" style="margin-right: 5px; margin-left: -5px;" data-bind="text: gridCellsRemaining()"></span>
          <i class="icon-large icon-check-empty" style="margin-left: 5px;" data-bind="visible: ! showingFilteringResults()"></i>
          <i class="icon-large icon-check" style="margin-left: 5px;" data-bind="visible: showingFilteringResults() && !showButtonSpinner()"></i>
          <i class="icon-large icon-refresh icon-spin" style="margin-left: 5px; height: 5px" data-bind="visible: showingFilteringResults() && showButtonSpinner()"></i>
        </a>
      </div>

      {% block debug_action %}
      <!-- <p>Action: {{ action }}</p> -->
      {% endblock debug_action %}

        <form id="scenarios-form" action="{{ action }}" method="post" name="scenarios-form">
          {% block hidden_fields %}
            {% for hidden in form.hidden_fields %}
              <div style="display:none;">
                {{ hidden.errors }}
              </div>
              {{ hidden }}
            {% endfor %}
          {% endblock hidden_fields %}

          <div id="error_bar"></div>

          {% for step in form.get_steps %}
            <div id="step{{ forloop.counter }}" class="step">
              <p class="step-text"><i>Step {{ forloop.counter }} of {{ form.get_steps|length|add:"1" }} </i></p>
              <p class="instructions">{{ step.instructions }}</p>
              <div id="step{{ forloop.counter }}_inputs">
                <ul class="parameters">
                  {% for field, field_min, field_max, field_input, field_checkbox in step.fields %}
                  <li>
                    {% if field %}
                    <div class="accordion" id="{{ field.html_name }}_accordion">
                    <div class="accordion-heading" data-bind="click: function() {app.viewModel.scenarios.scenarioFormModel.toggleParameter('{{ field.html_name }}'); }">
                      <label class="accordion-toggle">
                        {{ field.as_widget }}
                        <i class="check icon-large icon-check" data-bind="visible: {{ field.html_name }}()"></i>
                        <i class="check icon-large icon-check-empty"></i>
                        <span class="parameter-label" style="margin-left: 5px">{{ field.label }}</span>
                        <i class="info-icon icon-info-sign field-tooltip"
                        data-toggle="tooltip"
                        data-original-title="{{ field.help_text }}"
                        data-placement="top">
                      </i>
                    </label>
                  </div>
                  {% endif %} <!-- field -->
                  {% if field_min or field_max or field_input or field_checkbox %}
                  {% if field %}
                  <div id="{{ field.html_name }}_widget" class="inputfield accordion-body collapse" data-bind="css: {'in': {{ field.html_name }}()}">
                    <div class="accordion-inner">
                      {% endif %} <!-- field -->
                      <div>

                        {% if field_min %}
                        {{ field_min.field.widget.attrs.pre_text | safe }}
                        {{ field_min.as_widget }}
                        {{ field_min.field.widget.attrs.post_text | safe }}
                        {% endif %}{% if field_max %}
                        {{ field_max.field.widget.attrs.pre_text | safe  }}
                        {{ field_max.as_widget }}
                        {{ field_max.field.widget.attrs.post_text | safe  }}
                        {% endif %}{% if field_input %}
                        {% if field %}{% else %}
                        <label>
                          {{ field_input.label }}
                          {% if field_input.help_text %}
                          <i class="info-icon icon-info-sign field-tooltip"
                          data-toggle="tooltip"
                          data-original-title="{{ field_input.help_text }}"
                          data-placement="top">
                        </i>
                        {% endif %}
                      </label>
                      {% endif %}
                      {{ field_input.field.widget.attrs.pre_text | safe  }}
                      {{ field_input.as_widget }}
                      {{ field_input.field.widget.attrs.post_text | safe  }}
                      {% endif %}{% if field_checkbox %}
                      {{ field_checkbox.field.widget.attrs.pre_text | safe }}
                      {{ field_checkbox.as_widget }}
                      {{ field_checkbox.field.widget.attrs.post_text | safe }}
                      {% endif %}

                      {% if field.field.widget.attrs.layer_id and field.field.widget.attrs.layer_title %}
                      <div class="btn-group btn-group-layer show-layer-btn-group">
                        <a  class="btn btn-info-sign"
                        style="height: 16px; line-height: 16px"
                        data-bind="click: function() { toggleLayerInfo( {{ field.field.widget.attrs.layer_id }} ); }, css: { 'active': isLayerInfoActive( {{ field.field.widget.attrs.layer_id }} ) }">
                        <i class="icon-info-sign icon-large"></i>
                      </a>

                      <a  class="btn btn-layer show-layer-btn"
                      style="height: 16px; line-height: 16px"
                      data-bind="css: { 'active': isLayerActive(), 'not-active': ! isLayerActive( {{ field.field.widget.attrs.layer_id }} ) }, click: function() { toggleLayer( {{ field.field.widget.attrs.layer_id }} ); }">
                      <div style="font-weight: normal">
                        <span>{{ field.field.widget.attrs.layer_title }}</span>
                        <i  class="check icon-large icon-check"
                        style="top: 8px"
                        data-bind="visible: isLayerActive( {{ field.field.widget.attrs.layer_id }} ) && isLayerVisible( {{ field.field.widget.attrs.layer_id }} )">
                      </i>
                      <i  class="check icon-large icon-check-empty"
                      style="top: 8px"
                      data-bind="visible: ! isLayerActive( {{ field.field.widget.attrs.layer_id }} ) || ! isLayerVisible( {{ field.field.widget.attrs.layer_id }} )">
                    </i>
                  </div>
                </a>
              </div>
            {% endif %}

            {{ field.errors }}

            <script type="text/javascript">
              {% if field_min and not field_max %}
                $('#slider-{{ field_input.html_name }}').bind( "slidestop", function(event, ui) {
                  $(this).slider('value', ui.value); // this line prevents the slider value from being 1 tick off (value update is normally lagging this event trigger)
                  if (app.viewModel.scenarios.scenarioFormModel) {
                    app.viewModel.scenarios.scenarioFormModel.updateFiltersAndCount('{{ field.html_name }}');
                  }
                });
                $('#slider-{{ field_min.html_name }}').bind( "slide slidechange", function(event, ui) {
                  if (app.viewModel.scenarios.scenarioFormModel) {
                    app.viewModel.scenarios.scenarioFormModel.gridCellsRemaining('...');
                  }
                });
              {% elif field_max and not field_min %}
                $('#slider-{{ field_input.html_name }}').bind( "slidestop", function(event, ui) {
                  $(this).slider('value', ui.value); // this line prevents the slider value from being 1 tick off (value update is normally lagging this event trigger)
                  if (app.viewModel.scenarios.scenarioFormModel) {
                    app.viewModel.scenarios.scenarioFormModel.updateFiltersAndCount('{{ field.html_name }}');
                  }
                });
                $('#slider-{{ field_max.html_name }}').bind( "slide slidechange", function(event, ui) {
                  if (app.viewModel.scenarios.scenarioFormModel) {
                    app.viewModel.scenarios.scenarioFormModel.gridCellsRemaining('...');
                  }
                });
              {% elif field_min and field_max %}
                $('#slider-{{ field_input.html_name }}').bind( "slidestop", function(event, ui) {
                  $(this).slider('value', ui.value); // this line prevents the slider value from being 1 tick off (value update is normally lagging this event trigger)
                  if (app.viewModel.scenarios.scenarioFormModel) {
                    app.viewModel.scenarios.scenarioFormModel.updateFiltersAndCount('{{ field.html_name }}');
                  }
                });
                $('#slider-{{ field_min.html_name }}').bind( "slide slidechange", function(event, ui) {
                  if (app.viewModel.scenarios.scenarioFormModel) {
                    app.viewModel.scenarios.scenarioFormModel.gridCellsRemaining('...');
                  }
                });
              {% elif field_checkbox %}
                $('[name="{{ field_checkbox.html_name }}"').change( function(change_event) {
                  if (app.viewModel.scenarios.scenarioFormModel) {
                    if (!change_event.target.checked) {
                      app.viewModel.scenarios.scenarioFormModel.removeFilter('{{ field_checkbox.html_name }}_' + change_event.target.value.toString());
                    }
                    app.viewModel.scenarios.scenarioFormModel.updateFiltersAndCount('{{ field.html_name }}');
                  }
                });
              {% else %}
                {% if field.html_name == None %}
                  // Input is not enclosed in a checkbox-controlled collapsible panel, always used in filtering
                  $('#id_{{ field_input.html_name }}').change( function() {
                    if (app.viewModel.scenarios.scenarioFormModel) {
                      app.viewModel.scenarios.scenarioFormModel.updateFiltersAndCount('{{ field_input.html_name }}');
                    }
                  });
                {% else %}
                  $('#id_{{ field_input.html_name }}').change( function() {
                    if (app.viewModel.scenarios.scenarioFormModel) {
                      app.viewModel.scenarios.scenarioFormModel.updateFiltersAndCount('{{ field.html_name }}');
                    }
                  });
                {% endif %} <!-- field.html_name -->
              {% endif %}
            </script>
          </div>
          {% if field %}
        </div>
      </div>
      {% endif %} <!-- field -->
      {% endif %} <!-- field_min or field_max or field_input or field_checkbox -->
      {% if field %}
    </div>
    {% endif %} <!-- field -->
    </li>
    {% endfor %}
    </ul>
    </div></div>
          {% endfor %}

          <div id="step{{ form.get_steps|length|add:"1" }}" class="step">
            <p class="step-text"><i>Step {{ form.get_steps|length|add:"1" }} of {{ form.get_steps|length|add:"1" }} </i>
            <div data-bind="css: { 'disabled': gridCellsRemaining()==0 }">
              <p class="instructions">Provide a <b>Name</b> to identify your Grid Filtering design </p>
              <div class="step{{ form.get_steps|length|add:"1" }}-inputs">
                <div class="last-step-param">
                  {{ form.name.errors }}
                  {{ form.name }}
                  <div id="invalid-name-message" class="control-group error" style="display: none; margin-top: -10px; margin-left: -5px;">
                    <span class="help-inline">The <b>Name</b> field is required.</span>
                  </div>
                </div>
                <p class="instructions">Optionally, you may add a <b>Description</b> <!--and/or attach a file--> </p>
                <div class="last-step-param">
                  {{ form.description.errors }}
                  {{ form.description }}
                </div>
              </div>
            </div>
            <div id="empty-results-warning" data-bind="visible: gridCellsRemaining()==0" class="well text-error">
              <p><i class="icon-large icon-warning-sign"></i> Wait!  Your filtering results are empty!</p>
            </div>
          </div>

          <p><button type="submit" value="submit" class="btn-submit btn">submit</button></p>
    </form>

    <div class="wizard_nav">
      <div class="btn-group pull-right">
        <a href="#" class="button btn" onclick="this.blur(); return false;" id="button_prev"><span>&lt; Previous</span></a>
        <a href="#" class="button btn"  onclick="this.blur(); return false;" id="button_next"><span>Next &gt;</span></a>
        <a href="#" class="submit_button button btn" onclick="this.blur(); return false;"><span>Save</span></a>
      </div>
    </div>

    <div class="cancel-nav">
      <div class="btn-group pull-left">
        <a href="#" class="cancel_button btn btn-default"><span>Cancel</span></a>
      </div>
    </div>

    <script type="text/javascript">
      var max_step = {{ form.get_steps|length|add:"1" }};

      jQuery.getScript("{% static 'scenarios/js/scenarios_form.js' %}", function () {
        console.debug("Loaded: {% static 'scenarios/js/scenarios_form.js' %}");
      });

      $('.field-tooltip').tooltip({trigger:'hover'});
    </script>
    {% endblock form_filters %}
  </div>
{% endblock form_block %}
