@media all and (min-width: 64em) {
    html {
        font-size: 1.06125em;
    }

    h3 {
        font-size: 1.25em;
    }

    #panel,
    #panel #scenario_form:not(:empty),
    #panel #draw_form:not(:empty),
    #panel #scenarios:not(:empty),
    #panel #results:not(:empty),
    #panel .result-section:not(:empty)  {
        width: 30vw;
    }

    #panel.expanded #scenario_form:not(:empty),
    #panel.expanded #draw_form:not(:empty),
    #panel.expanded #scenarios:not(:empty),
    #panel.expanded #results:not(:empty),
    #panel.expanded .result-section:not(:empty) {
        width: 85vw;
        max-width: 85vw;
    }

    #map {
      left: 30%;
    }

    .map-wrap .short-overlay .instructions #instruction {
        font-size: 1em;
    }

    #file-nav a,
    #file-nav .button-modal {
      font-size: .875em;
    }

    .icons-only .method-nav {
        padding-right: 24%;
    }

    .icons-only #results-nav.method-nav {
        padding-right: 32%;
    }
}
