#app-legend {
    position: absolute;
    left: 32vw;
    bottom: 10vh;
    max-height: 80vh;
    overflow-y: auto;
    background-color: white;
    padding: 0.5rem;
    border: 1px solid #9C7B54;
    border-radius: 4px;
    width: 12rem;
    min-width: 200px;
}

#app-legend p {
    padding: 0;
    margin: 0;
    line-height: 1;
    font-size: 1em;
    margin: 0.1rem 0;
}

.legend-title,
.legend-collapse-button {
  cursor: pointer;
}

.legend-title:hover,
.legend-collapse-button:hover {
  color: #9C7B54;
}

.legend-title:after,
.legend-collapse-button:after {
  font-family:Fontawesome;
    content:'\f077';
    font-weight:300;
    padding: 0.1rem;
    border: 1px solid;
    border-radius: 0.2rem;
    margin: 0.1rem;
}

.legend-title:after{
  font-size:0.6rem;
}
.legend-collapse-button:after {
  font-size:1rem;
  float:right;
}

.legend-title.collapsed:after,
.legend-collapse-button.collapsed:after {
  font-family:Fontawesome;
    content:'\f078';
}

.legend-barrier {
  height: 17px;
  width: 22px;
}

@media all and (max-width: 1023px) {
    #app-legend{
        /* margin-left: 0px; */
        left: 37vw;
    }
}

@media all and (max-width: 40em) {
    #app-legend{
        /* margin-left: 0px; */
        left: 290px;
    }
}
