#launch-modal .modal-dialog {
  width: 90vw;
  max-width: 800px;
}

#launch-modal h3 {
  color: white;
}

.modal-content input, .modal-content input[type='text'] {
  padding: 0.5em;
}

.project-list {
  overflow-y: auto;
  max-height: 45vh;
}

.project-list td {
    padding: 0.5em;
}

.project-list a {
  color: #E6F1DB;
}

.project-list a:hover {
  background: transparent;
  color: #E6F1DB;
}

.project-list .btn-trash,
.project-list .edit-form-link {
    background: transparent;
    color: #ffdd00;
    font-size: .6125em;
    margin: 0 -2px;
    padding: .375rem .06125rem;
    text-align: center;
}

.project-list .btn-trash:hover,
.project-list .edit-form-link:hover {
    background: rgba(255,0,0,0.15);
}

.project-list .btn-trash img,
.project-list .edit-form-link img {
    max-height: 1.75em;
}
