/**
 * =========================================================================
   Navbar
 ===========================================================================
 */

.top-nav-wrap {
  background: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid #ccc;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.5)
  display: block;
  height: 7vh;
  min-height: 45px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.top-nav-wrap .navbar {
    padding: 0 2vh;
}

.navbar-brand {
    flex: 1;
    margin: 0 5%;
    padding: 1vh 0;
    text-align: center;
    min-height: 40px;
}

.navbar-brand a {
  display: inline-block;
}

.navbar-brand a:hover {
  background: transparent;
  opacity: 1;
}



.navbar-brand img {
    height: 5vh;
    width: auto;
    min-width: 70px;
    min-height: 26px;
}

nav .navbar-toggler {
    background: transparent;
    border-radius: 50%;
    border: none;
    color: #9C7B54;
    height: 5vh;
    outline: none;
    text-align: center;
    position: relative;
    padding: 0;
    width: 5vh;
    min-height: 25px;
    min-width: 25px;
}

nav .navbar-toggler:after {
    display: none;
}

nav .navbar-toggler .navbar-toggler-icon {
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
    height: 60%;
    display: block;
    margin: 0 auto;
    width: auto;
}

nav .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    background-image: url('/static/fishpass/img/icon/i_close.svg');
}
nav .navbar-toggler[aria-expanded="false"] .navbar-toggler-icon {
    background-image: url('/static/fishpass/img/icon/i_navicon.svg');
}

.top-nav-wrap .navbar h1 {
    font-size: 2em;
    line-height: 9vh;
    margin: 0 2rem;
}

#menu {
    left: auto;
    right: 2vh;
    padding: 0;
    z-index: 3;
}

.username-wrap .account-action {
    color: #9C7B54;
    font-size: .875em;
    font-weight: 700;
    opacity: 1;
    transition: 0.2s opacity ease-in-out;
    text-transform: lowercase;
}
    .username-wrap .account-action:hover {
        opacity: 0.8;
        text-decoration: none;
    }
