body {
  overflow: auto;
}

,report-section {
  font-family: 'Lato', sans-serif;
}

h2 {
  margin: 1.5em;
}

table {
  margin: 2em;
}

table, th, td {
  border: 1px solid black;
}

.report-map-wrap {
  height: 60vh;
  position: relative;
  width: 100%;
}

.report-map-wrap #map {
  left: 0;
}

.report-map-wrap .navbar {
  position: fixed;
  z-index: 5;
}
