body {
  overflow: auto;
}

table {
  margin: 2em;
}

table, th, td {
  border: 1px solid black;
}

.report-map-wrap {
  height: 60vh;
  position: relative;
  width: 100%;
}

.report-map-wrap #map {
  left: 0;
}

.report-map-wrap .navbar {
  position: fixed;
  z-index: 5;
}

.card {
  border: none;
  color: #000000;
  font-size: .875em;
}

.card-body {
  padding: .5rem;
}

.card .card-title {
  font-size: 1.125em;
  margin-bottom: .125rem;
}

.card .muted {
  color: #9B9B9B;
  font-size: .9375em;
  font-style: italic;
}

,report-section {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
}

#barrier-report .nav-link.active {
  background: #217867;
  color: #fff;
}

@media (min-width: 576px) {
  .card-columns {
    column-gap: 0;
  }
}
