/**
* =========================================================================
Panel
===========================================================================
*/

#panel {
    left: 0;
    top: 7vh;
    bottom: 0;
    overflow: auto;
    position: absolute;
    z-index: 3;
    width: 40vw;
}
#panel.left {
    left: 0;
    right: auto;
}
#panel.right {
    left: auto;
    right: 0;
}

#panel #scenario_form,
#panel #draw_form,
#panel #scenarios,
#panel #results,
#panel .result-section {
    background: rgba(255,255,255,0.95);
    font-size: .875em;
    height: 93vh;
    opacity: 1;
    position: relative;
    transition: .3s all ease-in-out;
    display: block;
    width: 40vw;
}
#panel #scenario_form:empty,
#panel #draw_form:empty,
#panel #scenarios:empty,
#panel #results:empty,
#panel .result-section:empty {
    opacity: 0;
    display: none;
    width: 0;
}

#panel #scenario_form:not(:empty),
#panel #draw_form:not(:empty),
#panel #scenarios:not(:empty) {
    padding: 0;
}

#panel section {
    padding: .75rem 1rem;
}

/* barrier default buttons */
#scenarios-form .btn-submit {
  visibility: hidden;
  display: none;
}

#error_bar {
  color: red;
  font-weight: bold;
}

#remaining {
  background: rgba(44, 90, 160, 0.1875);
  margin: -1rem -1rem 1rem;
}

.barrier-default-btn-wrap {
  align-content: center;
  display: flex;
  justify-content: stretch;
  height: 6vh;
  margin: 0;
}

.barrier-default-btn-wrap .btn-group {
  flex: 1;
}

.barrier-default-btn-wrap .btn-group .btn {
  font-size: .9375em;
  flex: 1;
}

/* panel form */
#panel .featurepanel-form-wrap {
  display: block;
  overflow: auto;
  padding: 1rem 1rem 0;
  position: relative;
  height: 81vh;
}

#panel .cancel-nav {
  bottom: 0;
  height: 6vh;
  left: 0;
  position: absolute;
}

#panel .featurepanel .wizard_nav {
  bottom: 0;
  height: 6vh;
  position: absolute;
  right: 0;
}

#panel .featurepanel .wizard_nav .btn-group {
  margin-right: 0;
}

#panel .featurepanel .wizard_nav .btn {
  background: rgba(44, 90, 160, 0.125);
  border-radius: 0 !important;
  color: #1B2C46;
  height: 6vh;
  line-height: 6vh;
  padding: 0 1.25rem;
}
  #panel .featurepanel .wizard_nav .btn:hover {
    background: rgba(44, 90, 160, 0.75);
    color: #fff;
  }

#panel .cancel-nav .btn {
  border-radius: 0 !important;
  height: 6vh;
  line-height: 6vh;
  padding: 0 1rem;
}
  #panel .cancel-nav .btn:hover {
    background: #dcdcdc;
  }

.bb {
    border-bottom: 3px solid #e2e05e;
    font-size: 1.5em;
    font-weight: 900;
    margin-right: 10px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

#scenario-hidden-submit {
    visibility: hidden;
    display: none;
}

.panel #scenarios-form {
    border: none;
    border-radius: 0;
    height: auto;
    margin: 0 auto 5px auto;
    overflow: auto;
    /* padding: 0; */
    width: 100%;
}

#scenarios-form #ownership_input_widget {
    margin: 0;
}

#scenarios-form #id_ownership_input_checkboxes {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;
}

.step {
  position: relative;
  /* padding: 0 5px; */
}

  .step:after {
    /* background: #217867; */
    content: '';
    height: 100%;
    position: absolute;
    left: 0;
    top: 15px;
    width: 1px;
  }

.step-inputs {
    font-size: .9375em;
    font-weight: 400;
    padding: 1rem 1.25rem .75rem;
}

.panel .form-group {
    margin-bottom: .5rem;
}

.panel p {
  margin-bottom: .5rem;
}

.panel .instructions {
    color: #1B2C46;
    font-size: 1.125em;
    font-weight: 700;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding-bottom: .5rem;
}

.panel h4 {
    color: #1B2C46;
    font-style: italic;
    font-size: .875em;
    margin-bottom: 0;
}

.panel .show-blocks-btn {
    margin-top: 0;
    padding-bottom: 0;
}

.panel .show-blocks-btn a {
    height: auto;
    line-height: 1.5;
}

.progress {
    background: rgba(230,231,232,0.25);
    margin: .75rem 0;
    height: 5px;
}

.progress-bar {
    /* background: rgba(230,231,232,0.95); */
    background: #2C5AA0;
}
#step1 .progress-bar {
    width: 0%;
}
#step2 .progress-bar {
    width: 25%;
}
#step3 .progress-bar {
    width: 50%;
}
#step4 .progress-bar {
    width: 75%;
}

.panel .badge-success {
    background: #2C5AA0;
}

.panel form label {
  line-height: 2rem;
}

.panel form #step2_inputs label {
  line-height: 1.5;
}

.parameter-label {
  padding-left: 5px;
}

.panel form input[type=text],
.panel form input[type=number],
.panel form textarea,
.panel form select {
    background: rgba(44, 90, 160, 0.125);
    border: 1px solid #1B2C46;
    font-size: .875em;
    height: 2rem;
    line-height: 2rem;
    margin-bottom: .5rem;
    padding: .125rem .375rem;
    width: 100%;
    max-width: 100%;
}

.panel .input-group input[type=number] {
  margin-bottom: 0;
  width: 1%;
}

.panel .input-group-text:not(:empty) {
    padding: 0 .375rem;
}

.panel form textarea {
    height: 4rem;
}

/* .panel form input.rangevalue,
.panel form input[type=number] {
  width: 33%;
  max-width: 125px;
} */

#id_target_area {
  height: 0;
  margin: 0;
  padding: 0;
  visibility: hidden;
}

.panel form input[type='checkbox'] {
    border: 1px solid #67b8c6;
    display: inline-block;
    font-size: .875em;
    height: 20px;
    vertical-align: middle;
    width: 20px;
}

.panel i.check {
    color: #67b8c6;
    font-size: 1.25em;
}

.panel .readonly-value {
  background: transparent;
  border: none;
  color: #3a5675;
  font-size: .875em;
  font-weight: bold;
  line-height: 1;
  padding: 0;
  text-align: center;
  width: 36px;
}

.panel #scenarios-form .accordion-body {
    width: 100%;
}

.panel #scenarios-form .accordion-inner {
    /* background: rgba(255,255,255,0.3); */
    margin: 5px auto;
    /* padding: 10px; */
    /* text-align: center; */
    /* word-spacing: 5px; */
    width: 90%;
}

.panel select {
    font-size: .875em;
    width: 100%;
}

.panel .wizard_nav {}

    .panel .wizard_nav .row {
        margin: 0 auto 1.5rem;
    }

    .panel #scenarios-form .accordion-heading .accordion-toggle {
        margin-bottom: 0;
        padding: 0 15px;
        position: relative;
    }

    .panel #scenarios-form .accordion-toggle i.check,
    .panel #scenarios-form .accordion-toggle i.icon-check-empty {
        left: 0;
        font-size: 1.125em;
        top: 0;
    }

    .panel #scenarios-form .accordion-heading .accordion-toggle .parameter-label {
        font-size: 1em;
    }

.panel #scenarios-form i.icon-check-empty {
    cursor: pointer;
    opacity: 1;
}

#id_landform_type_checkboxes {
    list-style: none;
    text-align: left;
}

#id_landform_type_checkboxes li {
    margin-bottom: .5rem;
}
