#focus-area-info,
#barrier-info {
  height: 1px;
  width: 1px;
  z-index: 10;
}
#focus-area-info{
  position: fixed;
}
#barrier-info {
  position: relative;
}
.tooltip.in {
  opacity: 1;
}
.tooltip.top .tooltip-arrow {
  border-top-color: white;
}
.tooltip-inner {
  border: 2px solid white;
}
