{% load static %}
<div id="app-legend" class="panel panel-default">
  <h3 data-toggle="collapse" class="legend-collapse-button" data-target="#legend-collapse">Legend</h3>
  <!-- <button data-toggle="collapse" data-target="#demo">Collapsible</button> -->

  <div id="legend-collapse" class="collapse show">
    <div data-toggle="collapse" class="barrier-legend-collapse-button legend-title" data-target="#barrier-legend-collapse">Barriers</div>
    <div class="container" id="barrier-legend-collapse" class="collapse show">
      <!-- Total Barriers -->
      <div class="row">
        <div class="col-3">
          <p><img class='legend-barrier' src="{% static 'fishpass/img/legend/total.png' %}"></p>
        </div> <!-- column 1 -->
        <div class="col-9">
          <p>Total Barrier</p>
        </div> <!-- column 2 -->
      </div> <!-- row -->
      <!-- Partial Barriers -->
      <div class="row">
        <div class="col-3">
          <p><img class='legend-barrier' src="{% static 'fishpass/img/legend/partial.png' %}"></p>
        </div> <!-- column 1 -->
        <div class="col-9">
          <p>Partial Barrier</p>
        </div> <!-- column 2 -->
      </div> <!-- row -->
      <!-- Other Barriers -->
      <div class="row">
        <div class="col-3">
          <p><img class='legend-barrier' src="{% static 'fishpass/img/legend/other.png' %}"></p>
        </div> <!-- column 1 -->
        <div class="col-9">
          <p>Other Barrier</p>
        </div> <!-- column 2 -->
      </div> <!-- row -->
      <!-- User Edited Barrier -->
      <div class="row">
        <div class="col-3">
          <p><img class='legend-barrier' src="{% static 'fishpass/img/legend/user_edited.png' %}"></p>
        </div> <!-- column 1 -->
        <div class="col-9">
          <p>User Edited</p>
        </div> <!-- column 2 -->
      </div> <!-- row -->

    </div> <!-- container -->
  </div> <!-- legend-collapse -->
</div> <!-- legend panel -->
