{% load static %}
<link rel="stylesheet" href="{% static 'fishpass/css/modal_tooltips.css' %}" />

<form action="#" method="post" id="{{ project_barrier_form_id }}" enctype="multipart/form-data">
  {% csrf_token %}

  {% block form_content %}
  <table>
    {% if HEADERS %}
      <tr>
        {% for header in HEADERS %}
          <th>
            {{ header.name }}
            {% if header.tooltip %}
              <div class="css_tooltip">
                <i class="info-icon icon-info-sign field-tooltip"></i>
                <span class="tooltiptext css_tooltip-bottom">
                  {{ header.tooltip | safe }}
                </span>
              </div>
            {% endif %}
          </th>
        {% endfor %}
      </tr>
    {% endif %}
    {% for field in project_barrier_form.visible_fields %}
      <tr>
        <th>{{ field.label_tag }}
          {% if FIELD_TOOLTIPS %}
            {% for tooltip in FIELD_TOOLTIPS %}
              {% if forloop.counter == forloop.parentloop.counter %}
                {% if tooltip %}
                  <div class="css_tooltip">
                    <i class="info-icon icon-info-sign field-tooltip"></i>
                    <span class="tooltiptext css_tooltip-right">
                      {{ tooltip | safe }}
                    </span>
                  </div>
                {% endif %}
              {% endif %}
            {% endfor %}
          {% endif %}
        </th>
        <td>
          {{ field.errors }}
          {{ field }}
          {{ field.help_text }}
        </td>
      </tr>
    {% endfor %}
  </table>
  {% endblock form_content %}

  {{ project_barrier_form.non_field_errors }}

  {% for hidden_field in project_barrier_form.hidden_fields %}
    {{ hidden_field.errors }}
    {{ hidden_field }}
  {% endfor %}

  <div class="well form-error" style="display:none"></div>

</form>
<button type="button" class="btn" value="Submit" id="{{ project_barrier_form_id }}-submit">Submit</button>
<button type="button" class="btn" value="Reset" id="{{ project_barrier_form_id }}-reset" >Reset</button>
