<!--

==== Project Barrier Modal ====

-->

<div class="modal fade" id="project-barrier-modal" tabindex="-1" role="dialog" aria-labelledby="project-barrier-modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">Project Barrier</div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="project-barrier-form-wrap" class="modal-body">

      </div>
    </div>
  </div>
</div>
